aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
async-timeout==5.0.1
attrs==26.1.0
certifi==2026.2.25
charset-normalizer==3.4.6
dotenv==0.9.9
frozenlist==1.8.0
idna==3.11
multidict==6.7.1
propcache==0.4.1
PySocks==1.7.1
pyTelegramBotAPI==4.32.0
python-dotenv==1.2.2
requests==2.32.5
telebot==0.0.5
typing_extensions==4.15.0
urllib3==2.6.3
yandex-music==2.2.0
yarl==1.23.0
